body {
    background-color: grey;
}

.tituloSeccion {
    height: 20vh;
    border: solid black 1px;
    margin: 0;
}

#entrantes-calientes {
    background-color: red;
    background-image: url(../assets/carnaca.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#entrantes-frios {
    background-color: red;
    background-image: url(../assets/carnaca.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.titulo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.containerMaster {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.col-2 {
    text-align: right;
}

h4 {
    color: rgba(165, 42, 42, 0.522);
}