body {
    background-color: white;
}



/* h1 {
    margin: 10px;
} */

.col2 {
    margin-top: 20px;
    height: 400px;
    width: 400px;
}

/* .asador {
    margin: 20px;
} */

p {
    font-size: x-large;
}

